<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Samuel Langlois's Personal Website</title>
	<link rel="stylesheet" href="css/bodyStyles.css">
</head>

<body>
	<h1>Samuel Langlois</h1>
	<p>I do love coding. I started with learing Java, then python, followed by Html and Javascript. i also love video
		games and table top games.</p>
	<hr size="3" noshade>
	<h3>Coding Languages Learned</h3>
	<div id="languageList">
		<ul>
			<li>Java: Intermediate to Expert</li>
			<li>Python: Intermediate</li>
			<li>Html: Intermediate</li>
			<li>CSS: Basic</li>
			<li>JavaScript: Basic</li>
			<li>My <a href="https://github.com/Shev-Felgrand">Github</a></li>
		</ul>
	</div>
	<div id="textContainer">
		Testing the stuff of divs
	</div>
	<button type="button">Roll</button><br>
	<iframe src="templates/contact.html" title="Contact Info"></iframe>
	
<!-- When code is compiled how does it continue to run and take in commads -->
</body>

</html>